/vendor/
/conf.ini
.vagrant/
.sass-cache/
node_modules/
httpdocs/vendor/
httpdocs/templates/
httpdocs/src/
httpdocs/app.min.js
httpdocs/app.min.js.map
httpdocs/styles.css
.DS_Store
composer.lock
Gemfile.lock
