// Replace text with a background image.

.replace-text,
%replace-text {
	text-indent: 110%;
	white-space: nowrap;
	overflow: hidden;
	
	@if $ltie9 == true {
		border: 0;
		font: 0/0 a;
		color: transparent;
		text-indent: 0;
		white-space: normal;
		overflow: auto;
	}
}